/*
   PFG UNED
   Fichero : cabecerayfooter.css
   Autor   : Jaime Alcal치 Galicia
   Version : 1.0
   Fecha   : 01/01/2023
   Descripci칩n: Definici칩n del estilo de la cabecera y el footer del sitio web.
*/

div.center {
    display: block;
    text-align: center;
}

.menu{
    list-style: none;
    padding: 0;

    background-image: linear-gradient(#42A1EC, #13140d);
    width : 90%;

    margin: auto;
    font: bold 120%;
    font-size: 24px;

    border-radius: 5px;
   
    font-family: 'Roboto Condensed';
}

.menu li a {
    text-decoration: none;
    color: white;
    margin: 20px;
    display: block;

}

.menu li{
    display: inline-block;
    text-align: center;
    
    
}

.menu span {
    text-decoration: none;
    color: #FFFF00;
    padding: 20px;
    display: block;
}


.menu li a:hover {
    background-image: linear-gradient(#42A1EC, #0070C9);
}



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top:80px;/* Ajusto el valor para separar el footer del contenido anterior*/
    font-size: 20px;
}

#logoUned{
    width: 200px;/*Ajusto el valor para el tama침o del logo*/
    height: 95px;
    margin-bottom: 50px;/*Ajusto el valor que separa el logo de la informacion del pie*/
}

.h6footer{
    margin-top: -21px;
    font-size: 20px;
    font: bold 100%;
    color: #000000;
}

hr.lineaHR {
    border: 1px solid #2b668d;
    border-radius: 5px;
    width: 95%;
}

  
.text-resaltado{
    font-style: oblique;
}
