/*
   PFG UNED
   Fichero : help.css
   Autor   : Jaime Alcal치 Galicia
   Version : 1.0
   Fecha   : 01/01/2023
   Descripci칩n: Definici칩n del estilo de la p치gina de ayuda.
*/

body {
    background-color: #fafafa;
    font-family: 'Roboto Condensed';
    min-height: fit-content;
}

hr.lineaHR {
    border: 1px solid #2b668d;
    border-radius: 5px;
}

.MarcoPrincipal {
    width: 88%;
    margin: auto;
}

.TxtAyuda {
    margin: auto;
}

.TxtAyuda h3 {
    font: oblique bold 120% cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2b668d;
    font-size: large;
}

p {
    text-align: justify;
}

/* ==== For images style ==== */

/* Define the image layout into the whole text */
.imgCenter {
    text-align: center;
    margin: 1em 0;
}

/* Define image attributes as border, padding, etc */
.imgCenter img {
    border: 1px solid #aaa;
    padding: 4px;
    background-color: #fff;
}

figure.imgCenter {
    text-align: center;
    margin: 2em 0;
}

figure.imgCenter img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

figure.imgCenter figcaption {
    font-size: 0.9em;
    color: #555;
    margin-top: 0.5em;
    font-style: italic;
}


/* ==== Headers area ====*/
/* to hide unused H tags in order to complain WCAG rules */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}