/*
   PFG UNED
   Fichero : simulator.css
   Autor   : Jaime Alcal치 Galicia
   Version : 1.0
   Fecha   : 01/01/2023
   Descripci칩n: Definici칩n del estilo de la p치gina del simulador.
*/

body {
    background-color: #fafafa; 
    font-family: 'Roboto Condensed';
    font-size: 20px;
    min-height: fit-content;
}



h1{
    text-align: center;
}


.containerZonaA { 
     position: relative;
     margin: 25px auto;
     width: 90%;
     text-align: center;
}


.containerZonaA p{ 
    font: normal bold 120%;
    text-align: center;
}


#resultadoCompilacion{
    background-color:  #fafafa;;
    text-align:	center;
    border-radius: 5px;
    border-width: medium;
    border-color:  rgba(12, 81, 146, 0.5);
    border-style: groove;
}
.resultadoCompilacion{
    text-align:	left;
    font-style: normal;
}




.myoutput {
    width:98%;
    height:100px;
}

.lineaHorizontal{
    size: 15px;
    height: 3px;
    background-color:  #111111;;
}


#consolaSalida{
    border-radius: 5px;
    border-width: small;
    background-color:  rgba(12, 81, 146, 0.5);
    color:#323232;
    font-size: 16px;
    font-weight: bold;
    resize: none;
    padding-left: 15px;
    width: 98%;

    margin-top: 0;
    

}






#Fase2A p{
	margin-top: 0;
    margin-bottom: 0;
    text-align:	center;
    font: normal bold 120%;
		

        
		
}
#Fase2A h3, h4{
    text-align :	left;
    font: normal bold 100%;
    padding-left: 5px;
    margin-bottom: 0;
    
}

#Fase2A label{
    text-align :	left;
    font: normal bold 80%;
    padding-left: 5px;
    margin-bottom: 0;
    
}

#marcoConsolaSalida{
    
    margin-bottom: 0;
    
}


#container {
    display: flex;
  }

svg{
    width: 10px;
 }
 
  
.tabs {
  display: flex;
  list-style: none;
  margin: auto;
  padding: 0;
  width: 95%;
}

#botoncentrado{
    display: flex;
    align-items: center;
    justify-content: center;
}



#tablaCuadru{
position: relative;
left: 30%;
}
.tabs li {
  flex: 1;
}



.tabs a {
  font: normal bold 100%;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  color: #333;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 3px;
}

.tabs a:hover {

  
  background-color:#3D94D9;

}

.tabs a.active {
    
    
    background-color:#3D94D9;
    
}

.tab-content {
  display: none;
  margin-left: 25px;
  padding: 10px;
  font-family: monospace;
}

.tab-content.active {
  display: block;
  padding: 0;
  font-family: monospace;
}


.fondo{
  background-color: #d01453;
  color: #FFFFFF;
  width: 220px;
  font: normal bold 100%;
  border-radius: 5px;
  background-image:linear-gradient(#42A1EC, #13140d);
  padding-left: 5px;
  
  }

.button-15 {
    
    background-image:linear-gradient(#42A1EC, #13140d);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    margin-top: 10px;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-15:disabled {
    cursor: default;
    opacity: .3;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 200px;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    font: normal bold 70%;

}

td.center {
    text-align: center;
}

th {
    background-color: #f48942;
    
    color: white;

    font: normal bold 70%;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;









}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

@media screen and (max-width: 600px) {
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    display: block;
    text-align: left;
    padding: 6px;
}

th {
    text-align: left;
}
}

.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

/*
#textarea {
    border: none;
    font-family: monospace;
    font-size: 20px;
    line-height: 20px;
    overflow: scroll;
    padding: 10px;
    width: 100%;
}
*/
#textarea:focus {
    outline: none;
}
  
table{
    border-collapse: collapse;
    font-size: 20px; 
    margin: 0 ;
}

.divtablaspilavar{
  font: normal bold 80%;
  position: relative;
  display: flex;
  align-items: flex-top;
}

.divtabla{
  margin-left: 10px;
}
