/*
   PFG UNED
   Fichero : cabecerayfooter.css
   Autor   : Jaime Alcal치 Galicia
   Version : 1.0
   Fecha   : 01/01/2023
   Descripci칩n: Definici칩n del estilo de la cabecera y el footer del sitio web.
*/


.menu{
    list-style: none;
    padding: 0;

    background-image: linear-gradient(#42A1EC, #13140d);
    width : 90%;

    margin: auto;
    font: oblique bold 120% cursive;

    border-radius: 5px;
   

}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}

.menu li{
    display: inline-block;
    text-align: center;
    
    
}

.menu li a:hover {
    background-image: linear-gradient(#42A1EC, #0070C9);
}



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top:80px;/* Ajusto el valor para separar el footer del contenido anterior*/
}

#logoUned{
    width: 160px;/*Ajusto el valor para el tama침o del logo*/
    height: 50px;
    margin-bottom: 50px;/*Ajusto el valor que separa el logo de la informacion del pie*/
}

.h6footer{
    margin-top: -21px;
    font: oblique bold 100% cursive;
    color: #2b668d;
}

.h7footer{
    margin-top: -21px;
    font: oblique bold 100% cursive;
    color: #fafafa;
}
hr.lineaHR {
    border: 1px solid #2b668d;
    border-radius: 5px;
  }

  
.text-resaltado{
    font-style: oblique;
}
