/*
   PFG UNED
   Fichero : help.css
   Autor   : Jaime Alcal치 Galicia
   Version : 1.0
   Fecha   : 01/01/2023
   Descripci칩n: Definici칩n del estilo de la p치gina de ayuda.
*/

body {
    background-color: #fafafa; 
    font-family: 'Roboto Condensed';
    min-height: fit-content;
}



hr.lineaHR {
    border: 1px solid #2b668d;
    border-radius: 5px;
  }


  
.MarcoPrincipal{
    width : 88%;

    margin: auto;

}



.TxtAyuda{

    
    margin: auto;
}

.TxtAyuda h3{
    font: oblique bold 120% cursive;
}


h1, h2, h3, h4, h5, h6 {
    color: #2b668d;
    font-size:large;
}



p {
    text-align: justify;
}

